.page
{
    min-height: 100%;
    height: 5000px;
}

.foot a
{
    left: 0;
    bottom: 0;
    color: white;
    background: red;
    text-align: center;
    position: fixed;
    height: 50px;
    width: 100%;
    text-decoration: none;
}