.formbox
{
    background: rgb(240, 246, 248);
    margin: 10;
    position: relative;
    width: 500px;
    padding: 10px;
    left: 50%;
    margin-left: -250px;
    border: solid #bd0c32 1px;
}

h2
{
    padding: 3px;
    color: white;
    background-color: #bd0c32;
}

legend
{
    color: #bd0c32;
    font-weight: bold;
}

span
{
    color: #bd0c32;
    font-weight: bold;
    font-family: monospace;
}

.botton
{
    color: white;
    background: #bd0c32;
}