/* 
Student Name 	    : Edward Zheng
Student Id Number   : C00282942
Date 			    : 05/10/2023
Purpose 			: lab03
*/
.navbar
{
    display: flex;
    background-color: red;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 20px;
    list-style-type: none;
    gap: 10px;
    
}

a
{
    color: white;
    text-decoration: none;
}